import React, { Component } from 'react'
import { ReactComponent } from 'ionicons/dist/ionicons/svg/{{iconName}}.svg'

class {{componentName}} extends Component {
  render() {
    return <ReactComponent />
  }
}

export default {{componentName}}
